body {
    text-align: center;
    font-family: sans-serif;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    width: 400px; /* 20 cells * 20px */
    height: 400px;
    margin: 20px auto;
    border: 2px solid black;
}

.grid div {
    width: 20px;
    height: 20px;
}

.wall {
    background-color: darkblue;
}

.pac-dot {
    background-color: white;
    border-radius: 50%;
    margin: 7px;
    width: 6px;
    height: 6px;
}

.power-pellet {
    background-color: white;
    border-radius: 50%;
    margin: 5px;
    width: 10px;
    height: 10px;
}

.pac-man {
    background-color: yellow;
    border-radius: 50%;
}

.ghost {
    border-radius: 50%;
}

.blinky {
    background-color: red;
}

.pinky {
    background-color: pink;
}

.inky {
    background-color: cyan;
}

.clyde {
    background-color: orange;
}

.scared-ghost {
    background-color: blue !important;
}

